// src/widgets/layouts/MainLayout.module.scss

.mainLight {
    flex: 1;
    padding: 24px;
    padding-bottom: 80px;
    background: linear-gradient(135deg, #f3e5ff, #d1c4ff); // soft light purple
    color: #3a0ca3; // deep purple text
    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
}

.mainDark {
    flex: 1;
    padding: 24px;
    padding-bottom: 80px;
    overflow-y: auto;
    background: linear-gradient(135deg, #242029, #212022); // deep dark grey
    color: #f0e6ff; // light text

    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }


}
