html,
body {
    padding: 0;
    margin: 0;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    background: linear-gradient(135deg, #242029, #212022);
    box-shadow: rgba(167, 114, 232, 0.2) 0px 4px 12px;
    margin: auto;
    max-height: 80vh;
    max-width: 500px;
    overflow-y: auto;
}

@keyframes shimmer {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
